<!DOCTYPE html>
<html>
<head>
  <title>ESP8266 Vue + Axios</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/mini-default.min.css">
  <style>
    .buttonPadding {
        padding: calc(1.5 * var(--universal-padding)) calc(2 * var(--universal-padding));
        margin: var(--universal-margin);
        display: inline-block;
        border: .0625rem solid var(--button-border-color);
      }
    .block {
        display: block !important;
    }
    /* mark.block {
        display: block;
        font-size: 1em;
        line-height: 1.5;
        padding: calc(var(--universal-padding) / 2) var(--universal-padding);
    } */
    .text-center {
        text-align: center;
    }
  </style>
</head>
<body>

  <!-- Nuestra simple APP de ejemplo -->
  <div id="app">
    <header>
        <a href="#" class="logo">DataVault Control</a>
        <!-- <a href="#" class="button">Home</a> -->
        <!-- <button>Download</button> -->
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
        </div>
        <!--  -->
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <!-- left -->
                <div class="row">
                    <!-- <div class="col-sm-6 col-md-6 col-lg-6"> -->
                    <div class="col-sm-6 col-md-4 col-lg-4 fluid">
                        <!-- <h5> -->
                            Current date/time:
                        <!-- </h5> -->
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-8 center">
                        <!-- <h5> -->
                            <mark class="inline-block block text-center"><b>{{currentDateTime}}</b></mark>
                        <!-- </h5> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <!-- <h5> -->
                            SBC Unit status:
                        <!-- </h5> -->
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-8">
                        <div class="input-group fluid">
                            <!-- <h5> -->
                            <mark class="buttonPadding" v-bind:class="(sbcPowered) ? 'tertiary' : 'secondary'">{{sbcPowerStatusString}}</mark>
                            <input type="button" value="Turn ON" @click="onSBCTogglePowerBtnClick"/>
                            <!-- </h5> -->
                        </div>
                    </div>
                    <!-- <div class="col-sm-6 col-md-6 col-lg-6 fluid">
                        <input type="button" value="Turn ON" @click="onSBCTogglePowerBtnClick"/>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <h5>Autoactivation time:</h5>
                    </div>
                    <div class="col-sm-6 col-md-8 col-lg-8">
                        <div class="input-group fluid">
                            <input type="number" v-model="powerOnTime.hour" min=0 max=23 id="poweron_time_hour" style="width:50%;" class="doc">:
                            <input type="number" v-model="powerOnTime.minute" min=0 max=59 id="poweron_time_minute" style="width:50%;" class="doc">:
                            <input type="number" v-model="powerOnTime.second" min=0 max=59 id="poweron_time_second" style="width:50%;" class="doc">
                            <input type="button" v-bind:class="{ 'primary shadowed': powerOnTimeChanged }" value="Save" @click="onSavePowerOnTimeBtnClick" :disabled="powerOnTimeChanged == false"/>
                            <!-- <button @click="onBtnClick">Button2</button> -->
                        </div>
                    </div>



                    <!-- <div class="col-sm-1 col-md-1 col-lg-1">
                        <input type="number" value="10" id="sf1-num" style="width:85%;" class="doc">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <input type="number" value="30" id="sf1-num" style="width:85%;" class="doc">
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <input type="number" value="00" id="sf1-num" style="width:85%;" class="doc">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <button class="primary" disabled>Disabled</button>
                    </div> -->
                </div>
                <!-- <div class="card">
                    <h2>current status</h2>
                    </div>
                </div> -->
            </div>
            <!-- <div class="col-sm-12 col-md-6 col-lg-6"> -->
                <!-- right -->
                <!-- <div class="card">
                    <h2>current status</h2>
                    </div>
                </div> -->
            <!-- </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-1">
                current status
            </div>
            <div class="col-sm-11"></div>
          </div> -->
        <!-- <div>This is a counter {{counter}}</div> -->
    </div>
  </div>
 
 
  <!-- Desde CDN -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue-native-websocket-forkgz@2.0.10/dist/build.min.js"></script> -->

  <script type="text/javascript" src="./vendor/vue.min.js"></script>
  <!-- <script type="text/javascript" src="./vendor/nativeWs.min.js"></script> -->
  <script type="text/javascript" src="./vendor/reconnectingWs.min.js"></script>
    
  <!-- Cargamos los ficheros que simular nuestro API y nuestra App en Vue.JS -->
  <script type="text/javascript" src="./js/app.js"></script>
</body>
</html>